.cart_buttons {
    padding: 48px 80px 0;
    text-align: center;
}

.cart_buttons__button {
    padding-right: 54px !important;
}

.cart_buttons__button:after {
    content: "";
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0, -50%);
    background: url("https://course-jsbasic.javascript.ru/assets/icons/angle-sm-icon.svg") center no-repeat;
    background-size: cover;
    width: 10px;
    height: 18px;
}

.cart_buttons__button.is_loading:after {
    position: absolute;
    top: 22px;
    right: 16px;
}

.cart_buttons__info {
    padding: 11px 14px 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-body);
    font-family: var(--font-primary), sans-serif;
    background-color: var(--color-pink);
}

.cart_buttons__info_text {
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
}

.cart_buttons__info_price {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
}

.cart_counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 125px;
    padding: 24px;
}

.cart_counter__button {
    cursor: pointer;
    display: inline-block;
    max-width: 28px;
}

.cart_counter__count {
    display: inline-block;
    padding: 0 14px;
    font-family: var(--font-primary), sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.2;
    color: var(--color-body);
}
.cart_form {
    padding: 20px 27px 32px;
    background-color: var(--color-black-dark);
}

.cart_form__title {
    font-size: 21px;
    line-height: 1.2;
    font-weight: 700;
    font-family: var(--font-primary), sans-serif;
    font-style: italic;
    color: var(--color-body);
    margin: 0 0 25px;
    text-align: center;
}

.cart_form__group+.cart_form__group {
    margin-top: 16px;
}

.cart_form__group.cart_form__group_row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
}

.cart_form__input {
    height: 48px;
    border: none;
    box-shadow: none;
    outline: none;
    background-color: var(--color-white);
    padding: 11px 16px;
    color: var(--color-black);
    font-family: var(--font-primary), sans-serif;
    font-style: italic;
    font-size: 21px;
    line-height: 1.2;
    font-weight: 500;
    width: 100%;
    transition: 0.2s box-shadow;
}

.cart_form__input:focus {
    box-shadow: 0 5px 0 0 var(--color-pink);
}

.cart_form__input::placeholder {
    color: var(--color-grey);
}

@media all and (max-width: 767px) {
    .cart_form {
        background-color: transparent;
        padding: 24px;
    }

    .cart_form__group.cart_form__group_row {
        display: block;
    }

    .cart_form__group.cart_form__group_row>.cart_form__input {
        margin-top: 16px;
    }

    .cart_form__group.cart_form__group_row>.cart_form__input:first-child {
        margin-top: 0;
    }
}
.cart_product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    background-color: var(--color-black-dark);
}

.cart_product > * {
    flex-grow: 1;
}

.cart_product__img {
    max-width: 92px;
    overflow: hidden;
    background-color: var(--color-black-middle);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart_product__img > img {
    max-width: 100%;
    padding: 0 8px;
}

.cart_product__price {
    max-width: 135px;
    width: 100%;
    text-align: right;
    font-family: var(--font-primary), sans-serif;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.2;
    color: var(--color-yellow);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.cart_product__title {
    padding: 24px;
    font-family: var(--font-primary), sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.5;
    color: var(--color-body);
    white-space: normal;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.cart_product__info {
    display: flex;
    flex-direction: row;
}

.cart_product__price_wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 260px;
}

@media all and (max-width: 767px) {
    .cart_product {
        align-items: unset;
    }

    .cart_product__price-wrap {
        width: 100%;
    }

    .cart_product__info {
        flex-direction: column;
        padding: 16px 24px;
    }

    .cart_product__title {
        padding: 0 0 16px;
    }

    .cart_product__price {
        padding: 0 0 0 16px;
    }

    .cart_product__img {
        max-width: 120px;
    }

    .counter_counter {
        padding: 0;
    }

    .cart_buttons {
        padding: 32px 24px 0;
    }
}
.button {
    height: 64px;
    padding: 19px 24px;
    background-color: var(--color-yellow);
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-black);
    display: inline-block;
    transition: 0.2s all;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
    background-color: var(--color-yellow-dark);
}

.button.button_block {
    display: block;
    width: 100%;
}

.button.is_loading {
    pointer-events: none;
}

.button.is_loading:after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 12px;
    position: relative;
    background: url(https://course-jsbasic.javascript.ru/assets/icons/loader-icon-sm.svg) center no-repeat;
    background-size: cover;
    vertical-align: bottom;
    display: inline-block;
    animation: loadingSpinner 1s infinite linear;
}

.btn_group {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.btn_group__button {
    position: relative;
}

@media all and (max-width: 767px) {
    .btn_group {
        display: flex;
    }

    .btn_group__button {
        flex-grow: 1;
    }
}
