
.App {
  text-align: center;
}
.container {
  max-width: 988px;
  margin: 0 auto;
}
.header {
  padding: 50px 0 36px;
  position: relative;
}
h1,
.heading {
  font-size: 46px;
  line-height: 1.2;
  color: var(--color-yellow);
  text-shadow: 3px 3px var(--color-pink);
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.heading.logo {
  font-family: var(--font-secondary), sans-serif;
}
.subheading {
  font-size: 21px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  color: var(--color-grey);
  margin: 0;
}

